{{ $posts := .Posts }}
{{ $postsAsciiHTML := .PostsAsciiHTML }}

<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Lora:wght@600&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="">
        <h1 class="text-3xl font-bold underline m-auto text-center mt-4">
            Skalogram Web
        </h1>
        <h2 class="text-2xl m-auto text-center mt-4">
            SKALE-5's nerd instagram for educational purpose (Cloud Native, Redis, Postgresql, Object Storage)
        </h2>
        <div class="p-10 grid grid-cols-4 gap-4 place-content-center m-auto text-center">
            {{ range $i, $post := $posts }}
            <div>
                <div class="bg-black text-xs space-x-0 text-white p-4 m-2" style="white-space: pre; font-family: 'Inconsolata', monospace;">{{ index $postsAsciiHTML $i }}</div>
                <div class="font-bold"><a href="/downvote?id={{$post.ID}}">⇩</a>{{$post.Score}}<a href="/upvote?id={{$post.ID}}">⇧</a></div>
            </div>
            {{ end }}
            <div class="bg-black m-2 mb-7 p-4 text-white">
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <div class="flex justify-center">
                        <div class="mb-3 w-96">
                            <label for="formFile" class="form-label inline-block mb-2">Upload image</label>
                            <input class="form-control
                            block
                            w-full
                            px-3
                            py-1.5
                            text-base
                            font-normal
                            text-gray-700
                            bg-white bg-clip-padding
                            border border-solid border-gray-300
                            rounded
                            transition
                            ease-in-out
                            m-0
                            focus:text-gray-700 focus:bg-white focus:border-green-300 focus:outline-none" type="file" name="postImg" id="formFile" >
                        </div>
                    </div>
                    <div class="flex justify-center p-2 pr-4">
                        <button class="w-20 px-4 py-2 text-white bg-green-500 rounded shadow-xl">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>